<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url('m.jpg') no-repeat;
    animation: change 10s infinite ease-in-out;
}

@keyframes change {
    0% { background-image: url(pic3.avif); }
    20% { background-image: url(pic2.webp); }
    40% { background-image: url(pic.jpg); }
    60% { background-image: url(m.jpg); }
}

.Signup-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
    height: auto;
    padding: 30px 40px;
    border-radius: 15px;
    background-color: #9BB2F3;
    background: #9BB2F3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
}

.Signup-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.Signup-header header {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-toggle i {
            font-size: 20px;
            color: #555;
        }
.input-box .input-field {
    width: 100%;
    height: 50px;
    font-size: 17px;
    padding: 0 25px;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 30px;
    border:1px solid #ccc;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: .3s;
    padding-right: 50px; /* Reserve space for the icon */
}

::placeholder {
    font-weight: 500;
    color: #fff;; /* Make this darker for better readability */
}

.input-field:focus {
    width: 105%;
    border-color: #666;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}
.sign-up-link a:hover{
   color: white;
    transform: scale(1.05, 1);
}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url('m.jpg') no-repeat;
    animation: change 10s infinite ease-in-out;
}

@keyframes change {
    0% { background-image: url(pic3.avif); }
    20% { background-image: url(pic2.webp); }
    40% { background-image: url(pic.jpg); }
    60% { background-image: url(m.jpg); }
}

.Signup-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: auto;
    padding: 30px 40px;
    border-radius: 15px;
    background-color: #9BB2F3;
    background: #9BB2F3;
}

.Signup-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.Signup-header header {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-toggle i {
            font-size: 20px;
            color: #555;
        }
.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
    padding-right: 50px; /* Reserve space for the icon */
}

::placeholder {
    font-weight: 500;
    color: #000; /* Make this darker for better readability */
}

.input-field:focus {
    width: 105%;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background:#eae9f0;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}
.sign-up-link a:hover{
   color: white;
    transform: scale(1.05, 1);
}
>>>>>>> 3ab2e7234dfa8b65343360c5026c2d843b90eb98
