body {
    background-image: url("background.jpeg");;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main {
    background: rgb(14, 14, 26);
    border-radius: 20px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-logo {
    padding: 10px;
   
    display: flex;
    align-items: center;
}

.navbar-logo img {
    margin-right: 10px;
    
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.navbar-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar-search input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-right: 20px;
    background-color: white;
    width: 300px;
}

.navbar-filter {
    display: flex;
    align-items: center;
}

.filter-btn {
    background-color: white;
    color: rgb(14, 14, 26);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

.filter-btn:hover {
    background-color: rgb(14, 14, 26);
    color: aliceblue;
}

.filter-options {
    display: none;
    position: absolute;
    background-color: #cd9bf3;
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
    width: 200px;
    margin-left: 70%;
    top: 15%
}

.filter-options label {
    display: block;
    margin-bottom: 8px;
    color: rgb(74, 233, 220);
}

.filter-options input[type="radio"] {
    margin-right: 5px;
}

.get-started{
    background-color: #cd9bf3;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px
}
.get-started:hover{
    background-color: rgb(14, 14, 26);
    color: aliceblue;
}
.p{
    background-color: #5e48ac;
    color: #fff;
    border-radius: 20px;
     height: 110px;
     margin: 5%;
     padding: 50px;
     width: 1000px;
}




.mySlides img{
    border-radius: 40px;
    margin-top: 0%;
}
.mySlides{
    
    border-radius: 404px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 800px;
    padding: 10px;
    margin: 100px;
    
    display: inline-block; 
    justify-content: 0%;
}

.slidshow-containe{
    
    border-radius: 20px;
    height: 0%;
    margin:10px;
    width: 80cap;
    justify-content:center;
    display: flex;
    gap: 10px;
}

/*previous and next button*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 120%;
    width:auto;
    padding: 16px;
    margin-top: -22px;
    color: blueviolet;
    font-weight: bold;
    font-size: 18px;
    transition: 1.10s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
   right: 150px;
   border-radius: 500px ;
   background-color: white;
}
.prev{
   left: 70px;
   border-radius: 200px ;
   background-color:white;
}


.text{
   color:black;
   font-size: 30px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
   font-family: 'helvetica Neue' , sans-serif;
   letter-spacing: 1.5px;
}
/* fading animation*/
.fade{
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}
@-webkit-keyframes fade{
   from {opacity: .4}
   to {opacity: 1}
}
@keyframes fade{
   from {opacity: .4}
   to {opacity: 1}
}
/*media queries*/
@media only screen and (max-width: 768){
   .text{
       font-size: 20px;
   }
}

/*footer*/

.footer-container{
    display: flex;
    background-color: #333;
    align-items: flex-end;
    min-height: 100vh;
    justify-content: center;
}

.footer{
    position: relative;
    width: 100%;
    background-color: #5e48ac;
    min-height: 100px;
    padding: 3% 5%;
    text-align: center;
    color: #fff;
}

.info a:hover{
    background-color: white;
    color: #5e48ac;
    border-radius: 20px;

}

a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
}

a:hover {
    text-decoration: underline;
}

.wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 120px;
    background: url('image/svg (2).png');
    background-size: 1000px 100px;
}

.wave:nth-last-of-type(1){
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: anim 4s linear infinite ;
}
.wave:nth-last-of-type(2){
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: anim 4s linear infinite !important;
}
.wave:nth-last-of-type(3){
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: anim 3s linear infinite !important;
}
.wave:nth-last-of-type(4){
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: anim 3s linear infinite !important;
}

@keyframes anim{
    0%{
        background-position-x: 1000px ;
    }
    100%{
        background-position-x: 0px;
    }
}

.row{
    width: 100%;
    display: flex;
    justify-content: center; /* Center the elements */
    text-align: center;
    margin-bottom: 30px;
}

.row .col{
    display: flex;
    justify-content: center;
    width: auto;
    
}

ul {
    list-style: none;
    padding: 0;
}

.social{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social li{
    height: 44px;
    width: 44px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .6s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li i{
    font-size: 18px;
    transition: .6s;
}

.social li:hover{
    background-color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
}

.social li:hover i{
    color: #5e48ac;
}

p {
    color: black;
    font-weight: 500;
    margin-top: 20px;
}
