

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('m.jpg') no-repeat;
    animation: change 10s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(pic3.avif);
    }
    20%
    {
        background-image: url(pic2.webp);
    }
    40%
    {
        background-image: url(pic.jpg);
    }
    60%
    {
        background-image: url(m.jpg);
    }

}
.login-box{
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
max-width: 440px;
height: auto;
padding: 30px 40px;
border-radius: 15px;
background: #9BB2F3;
background-color: #9BB2F3;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p {
    text-align: center;
    margin-top: 10px;
}

.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color:black;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field{
    width: 100%;
    height: 50px;
    font-size: 17px;
    padding: 0 25px;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0.05);
outline: none;
transition: .3s;
}

::placeholder{
    font-weight: 500;
    color: #fff;
    
}

.input-field:focus{
    width: 100%;
    border-color: #666;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

}
#check{
    margin-right:10px ;
}
a{
    text-decoration:none ;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    font-size: 16px;
    color: #fff;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05, 1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}